*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#A18594 ;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.io{
    width: 201px;
margin-right: 100px;
margin-left: 100px;
}
h1{
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 64px;
line-height: 77px;
color: #FFFFFF;
}
.ge{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.o{
    width: 1252px;
height: 82px;
background: #DBD0D7;
border-radius: 20px;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 39px;
/* identical to box height */
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-left: 15px;
width: 1392px;
height: 83px;
background: #DBD0D7;
border-radius: 20px;
}
.ph{
    
    margin: 50px;

}
.rete{
    width: 388px;
height: 73px;
background: #70E9F0;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 44px;
/* identical to box height */
border: none;
color: #000000;
}
/* button{
margin:100px 0px 0px 500px;
}  */
h2{
    width: 407px;
height: 83px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
display: flex;
}
.p{
    width: 400px;
height: 76px;
background: #DBD0D7;
border-radius: 20px;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 25px;
line-height: 39px;
/* identical to box height */
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
padding-left: 15px;
background: #DBD0D7;
border-radius: 20px;
}
.tuk{
    display: flex;
    flex-wrap: wrap;
}
.r{
    margin: 20px;
}

.lk{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1392px;
}