*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#A18594 ;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contener{
    width: 1743px ;
 display: flex ;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 padding: 50px;
}
h1{
    width: 865px;
height: 99px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 64px;
line-height: 77px;
text-align: center;
color: #FFFFFF;
margin-left: 500px;
}
.qq{
   width: 442px;
height: 637px;
    border-radius: 20px;
}
h2{
    width: 371px;
height: 87px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 44px;
text-align: center;
margin:30px;
color: #FFFFFF;
}
.rete{
    width: 243px;
background: #70E9F0;
border-radius: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 44px;
/* identical to box height */
color: #000000;
border: none;
padding: 7px;
}
.ds{
   width: 442px;
height: 603.08px;
border-radius: 20px;
}
h3{
    width: 371px;
height: 87px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #FFFFFF;
}
.sgs{
   width: 424.32px;
height: 637px;
border-radius: 20px;
}
h4{
    width: 371px;
height: 87px;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 36px;
line-height: 44px;
text-align: center;

color: #FFFFFF;
}
.d{
    display: flex;
}
.ll{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}